/*
@TODO:
presentacion agregar animación disponible lab

sobre mí extend *
*/


.presentation__img_profile {
    grid-area: presentation__img_profile;
}

.presentation__name {
    grid-area: presentation__name;
}

.presentation__about_me {
    grid-area: presentation__about_me;
}

.presentation__degree {
    grid-area: presentation__degree;
}

.presentation__status {
    grid-area: presentation__status;
}

.article_name {
    grid-area: article_name;
}

.article_date {
    grid-area: article_date;
}

.article_image {
    grid-area: article_image;
}

.article_description {
    grid-area: article_description;
}

.article_technologies {
    grid-area: article_technologies;
}

.article_link {
    grid-area: article_link;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0E0E11;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    background-color: transparent;
}

button:hover,
a:hover {
    scale: 1.1;
    transition: 0.2s ease-in-out;
}


.navegation__top {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        align-items: center;

        /* width: 100dvw; */
        width: 100%;
        gap: 0.5rem;
        /* padding: 1rem; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        /* margin-left: 0.5rem; */
        /* border-radius: 0.5rem; */
        /* background: #e3750028; */
        outline: 1px solid #ffe9851a;
        backdrop-filter: blur(7px);
        color: white;

        a {
            padding: 0.7rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 0.8rem;

            font-family: "Poppins", sans-serif;
            font-weight: bold;
            background-color: #0e0e1160;
            color: #e0e0e0;
        }

        .nav__portfolio_img {
            padding-left: 1rem;
        }

        .nav__social_links {
            padding-right: 1rem;
        }
    }
}

.presentation {
    max-width: 600px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: space-evenly;
    align-items: center; */

    justify-content: center;
    justify-items: start;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "presentation__img_profile  presentation__name"
        "presentation__img_profile  presentation__degree"
        "presentation__about_me     presentation__about_me"
        "presentation__status       presentation__status";
    grid-gap: 0.5rem;
    height: auto;

    margin-top: 4rem;
    text-wrap: balance;
    padding: 1.75rem;
    border-radius: 0.5rem;
    /* background-color: black; */
    color: white;
}

.presentation__img_profile {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;

    img {
        image-rendering: optimizeQuality;
        max-width: 150px;
        aspect-ratio: 3 / 4;
        display: block;
        margin: 0 auto;
        justify-self: center;
        align-self: center;
        object-fit: cover;
        /* clip-path: circle(50%); */
        clip-path: polygon(0 50%, 23% 100%, 100% 86%, 95% 3%, 19% 0);

        /* border-radius: 50%; */
        /* filter: drop-shadow(10px 10px 200px #e37600) drop-shadow(-10px -10px 50px #e37600); */
        /* filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
        /* background-color: white; */
        /* margin-right: 1rem; */
    }
}

.presentation__name {
    margin: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-style: normal;
    /* font-size: 1rem; */
    text-align: start;

    font-family: "Poppins", sans-serif;
    /* background-color: #18181B; */
}

.name__greeting_text {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;

    color: #e0e0e0;
}

.name__text {
    font-size: 1.6rem;
    font-weight: bold;

    /* color: #ff9f00; */
    color: #ffbf58;
}

.presentation__about_me {
    margin-top: 1rem;
    padding: 0.5rem;
    line-height: 1.3;

    font-size: 1.2rem;
    /* font-weight: normal; */
    color: #e0e0e0;
    font-family: "Poppins", sans-serif;
}

.presentation__about_me .about_me__recien_egresado {
    /* color: #6ffd59; */
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 0.2rem;

    color: #6ffd59;
}

.presentation__degree {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: start;
    align-items: start;
    gap: 0.1rem;
    width: auto;
    /* font-weight: bold; */
    font-style: normal;
    font-size: 1rem;
    /* text-align: center; */

    background-color: #18181B;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.degree__title,
.degree__institution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    font-family: "Poppins", sans-serif;
}

.degree__title {
    font-size: 1rem;
    /* font-weight: bolder; */
    margin-bottom: 0.2rem;

    color: white;
}

.degree__institution {
    font-size: 1rem;
    /* font-weight: normal; */
    /* margin-bottom: 0.5rem; */

    color: #6ffd59;
}

.presentation__status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    gap: 1rem;
    /* background-color: red; */
}

.status_text,
.status_cv a,
.projects__title,
.projects__title_description,
.tecnologias__title_description,
.tecnologias__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;

    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;

    font-size: 1rem;
    font-weight: bolder;
    /* background-color: #0f8506; */
    color: white;
    font-family: "Poppins", sans-serif;
}

.status_text {
    background-color: #0f8506;
}

.status_cv a {
    background-color: #e37600;
}

.projects__,
.tecnologias {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;

    /* border-top: 1px solid #e37600;
    border-bottom: 1px solid #e37600; */
    width: 90dvw;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    /* background-color: black; */

    .projects__title_description {
        color: #e0e0e080;
    }

    .tecnologias__title_description {
        color: #e0e0e080;
    }
}

.projects__title,
.projects__title_description,
.tecnologias__title,
.tecnologias__title_description {
    max-width: auto;
    font-size: 1.5rem;

    /* text-transform: uppercase; */
    background-color: #18181B;
}

.projects__title_description,
.tecnologias__title_description {
    font-size: 0.8rem;
}


.projects__content,
.tecnologias__content {
    width: 80dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    /* align-items: stretch; */
    align-content: center;
    flex-wrap: wrap;
    /* column-gap: 3rem; */
    padding: 0.5rem;
    gap: 0.5rem;

    /* background-color: red; */
}

.projects__article {
    max-width: 300px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "article_name          article_date"
        "article_image         article_image"
        "article_description   article_description"
        "article_technologies  article_technologies"
        "article_link          article_link";
    grid-gap: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-wrap: balance;
    text-overflow: ellipsis;


    /* white-space: wrap; */
    /* overflow: auto; */
    /* text-overflow: clip; */
}

.article_name,
.article_date,
.article_image,
.article_description,
.article_technologies,
.article_link {
    width: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    word-break: break-word;
    /* font-weight: bold; */

    /* background-color: #18181B; */
    /* background-color: #e3750010; */
    background-color: rgba(50, 50, 93, 0.25);
    font-family: "Poppins", sans-serif;

    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden; */
}

.article_name {
    font-weight: bold;
}

.article_date {
    font-size: 1rem;
    font-weight: bold;

    /* background-color: #18181B; */
}

.article_image {
    background-color: transparent;

    img {
        aspect-ratio: 1 / 1;
        width: 100px;
        height: auto;
        object-fit: cover;
    }

    img:hover,
    svg:hover {
        scale: 1.1;
        transition: 0.2s ease-in-out;
        filter: drop-shadow(0 0 0.5rem rgba(50, 50, 93, 1));
    }
}

.article_description {
    display: flex;
    justify-content: start;
    justify-items: start;
    align-items: start;
    flex-direction: column;
    font-size: 0.9rem;
    line-height: 1.2;
    /* text-align: start; */

    color: #e0e0e0;


    .list {
        margin: 0.2rem;

        /* color: #000; */
    }

    .list::before {
        content: "•";
        margin-right: 0.2rem;
    }


    .article_description__0 {
        align-self: center;
        font-size: 1rem;
        font-weight: bold;

        color: #ffbf58;
    }

    .article_description__1 {
        font-style: italic;

        color: #e0e0e080;
    }

    .article_description__1::before {
        content: "ⓘ";
    }
}

.article_technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    img {
        aspect-ratio: 1 / 1;
        width: 2rem;
        height: auto;
        object-fit: cover;
    }
}

.article_link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    a {
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 0.8rem;

        font-family: "Poppins", sans-serif;
        font-weight: bold;
        background-color: #0e0e1160;
        color: #e0e0e0;
    }
}

.tecnologias {

    /* border-top: 1px solid #e37600;
    border-bottom: 1px solid #e37600; */

    /* background-color: black; */

    .tecnologias__title {
        width: auto;
    }
}

.tecnologias__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
}

.tecnologias__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;

    .article_name {
        font-weight: bold;
        font-size: 1rem;

        background-color: #18181B;
        color: #e0e0e0;
    }

    img {
        aspect-ratio: 1 / 1;
        width: 50px;
        height: auto;
        object-fit: cover;
    }
}

.info__ignore {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    /* background-color: black; */
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    color: #e0e0e0;
}


/* @movil */
@media (max-width: 600px) {

    .navegation__top {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;
            align-items: center;

            /* width: 100dvw; */
            width: 100%;
            gap: 0.5rem;
            /* padding: 1rem; */
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            /* margin-left: 0.5rem; */
            /* border-radius: 0.5rem; */
            /* background: #e3750028; */
            outline: 1px solid #ffe9851a;
            backdrop-filter: blur(7px);
            color: white;

            a {
                padding: 0.7rem;
                border-radius: 0.5rem;
                cursor: pointer;
                /* font-size: 1rem; */

                font-weight: bold;
                background-color: #0e0e1160;
                color: #e0e0e0;
            }

            .nav__portfolio_img {
                display: none;
            }

            .nav__nav {
                padding-left: 1rem;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 0.2rem;
            }

            .nav__social_links {
                padding-right: 1rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: end;
                justify-items: center;
                align-items: center;
            }
        }
    }

    .presentation {
        max-width: 600px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "presentation__img_profile  presentation__img_profile"
            "presentation__name         presentation__name"
            "presentation__degree       presentation__degree"
            "presentation__about_me     presentation__about_me"
            "presentation__status       presentation__status"
            "presentation__cv           presentation__cv";
        grid-gap: 0.5rem;
        height: auto;

        margin-top: 4rem;
        text-wrap: balance;
        padding: 1.75rem;
        border-radius: 0.5rem;
        /* background-color: black; */
        color: white;


    }

    .projects__,
    .tecnologias {
        /* border-top: 2px solid #e37600;
        border-bottom: 2px solid #e37600; */
    }

    .projects__content {
        gap: 5rem;
    }

    .presentation__status {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 0.1rem;

        .status_text {
            width: 100%;
        }
    }
}

.img_popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    /* background-color: red; */



    .img__popup_article {
        max-width: fit-content;
        max-height: 90%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        /* flex-wrap: wrap; */
        gap: 1rem;

        /* background-color: red; */
        overflow-y: scroll;

        img {
            min-width: 30dvw;
            min-height: auto;
            /* object-fit: cover; */
            /* aspect-ratio: 3 / 4; */

            /* align-self: center; */
            /* justify-self: center; */
        }
    }

    .close_popup {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 0.5rem;

        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: #ff314d;
    }

}

/* @movil 2*/
@media (max-width: 300px) {

    .nav__social_links {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        justify-items: center;
        align-items: center;
        gap: 0.1rem;
    }
}