node_modules/*
.gitignore
.next/dev/cache/
.next/dev/build/
.next/dev/logs/
.next/dev/server/
.next/dev/static/
.next/dev/types/
.next/types/
.next/dev/build-manifest.json
.next/dev/fallback-build-manifest.json
.next/dev/package.json
.next/dev/prerender-manifest.json
.next/dev/routes-manifest.json
.next/dev/trace
.vscode/settings.json
/.next/dev
/.next
/.next
/.next
/.next
/.next/dev/server/chunks/ssr
/.next
/.next
/.next
/.next/dev
/.next/dev
/.next/dev/server/pages
/.next/dev/server/pages/_document
/.next/dev/server/pages
.next/dev/build-manifest.json
.next/dev/fallback-build-manifest.json
.next/dev/package.json
.next/dev/prerender-manifest.json
.next/dev/build/postcss.js
.next/dev/build/postcss.js.map
.next/dev/build/webpack-loaders.js
.next/dev/build/webpack-loaders.js.map
.next/dev/build/chunks/\[root-of-the-server]__6e020478._.js
.next/dev/build/chunks/\[root-of-the-server]__6e020478._.js.map
.next/dev/build/chunks/\[root-of-the-server]__51225daf._.js
.next/dev/build/chunks/\[root-of-the-server]__51225daf._.js.map
.next/dev/build/chunks/\[root-of-the-server]__974941ed._.js
.next/dev/build/chunks/\[root-of-the-server]__974941ed._.js.map
.next/dev/build/chunks/\[root-of-the-server]__c7ae8543._.js
.next/dev/build/chunks/\[root-of-the-server]__c7ae8543._.js.map
.next/dev/build/chunks/\[turbopack-node]_transforms_postcss_ts_6920245c._.js
.next/dev/build/chunks/\[turbopack-node]_transforms_postcss_ts_6920245c._.js.map
.next/dev/build/chunks/\[turbopack-node]_transforms_webpack-loaders_ts_1efa112f._.js
.next/dev/build/chunks/\[turbopack-node]_transforms_webpack-loaders_ts_1efa112f._.js.map
.next/dev/build/chunks/\[turbopack]_runtime.js
.next/dev/build/chunks/\[turbopack]_runtime.js.map
.next/dev/build/chunks/node_modules_fe693df6._.js
.next/dev/build/chunks/node_modules_fe693df6._.js.map
.next/dev/logs/next-development.log
.next/dev/server/middleware-build-manifest.js
.next/dev/server/middleware-manifest.json
.next/dev/server/next-font-manifest.json
.next/dev/server/pages-manifest.json
.next/dev/server/server-reference-manifest.json
.next/dev/server/chunks/ssr/\[root-of-the-server]__73da6be4._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__73da6be4._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__eb23ecbf._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__eb23ecbf._.js.map
.next/dev/server/chunks/ssr/\[turbopack]_runtime.js
.next/dev/server/chunks/ssr/\[turbopack]_runtime.js.map
.next/dev/server/chunks/ssr/node_modules_186c80ea._.js
.next/dev/server/chunks/ssr/node_modules_186c80ea._.js.map
.next/dev/server/chunks/ssr/src_pages__app_tsx_f993d483._.js
.next/dev/server/chunks/ssr/src_pages__app_tsx_f993d483._.js.map
.next/dev/server/pages/_app.js
.next/dev/server/pages/_app.js.map
.next/dev/server/pages/_document.js
.next/dev/server/pages/_document.js.map
.next/dev/server/pages/index.js
.next/dev/server/pages/index.js.map
.next/dev/server/pages/_app/build-manifest.json
.next/dev/server/pages/_app/client-build-manifest.json
.next/dev/server/pages/_app/next-font-manifest.json
.next/dev/server/pages/_app/pages-manifest.json
.next/dev/server/pages/_document/next-font-manifest.json
.next/dev/server/pages/_document/pages-manifest.json
.next/dev/server/pages/index/build-manifest.json
.next/dev/server/pages/index/client-build-manifest.json
.next/dev/server/pages/index/next-font-manifest.json
.next/dev/server/pages/index/pages-manifest.json
.next/dev/static/chunks/\[root-of-the-server]__0fd93964._.js
.next/dev/static/chunks/\[root-of-the-server]__0fd93964._.js.map
.next/dev/static/chunks/node_modules_f13cdc1a._.js
.next/dev/static/chunks/node_modules_f13cdc1a._.js.map
.next/dev/static/chunks/node_modules_next_dist_75b597d7._.js
.next/dev/static/chunks/node_modules_next_dist_75b597d7._.js.map
.next/dev/static/chunks/node_modules_next_dist_client_5a8a528e._.js
.next/dev/static/chunks/node_modules_next_dist_client_5a8a528e._.js.map
.next/dev/static/chunks/node_modules_next_dist_compiled_8ca6b690._.js
.next/dev/static/chunks/node_modules_next_dist_compiled_8ca6b690._.js.map
.next/dev/static/chunks/node_modules_next_dist_shared_lib_8bac8163._.js
.next/dev/static/chunks/node_modules_next_dist_shared_lib_8bac8163._.js.map
.next/dev/static/chunks/node_modules_react-dom_4411d9bd._.js
.next/dev/static/chunks/node_modules_react-dom_4411d9bd._.js.map
.next/dev/static/chunks/node_modules_react-lite-youtube-embed_dist_LiteYouTubeEmbed_d05fb36e.css
.next/dev/static/chunks/node_modules_react-lite-youtube-embed_dist_LiteYouTubeEmbed_d05fb36e.css.map
.next/dev/static/chunks/src_pages__app_2da965e7._.js
.next/dev/static/chunks/src_pages__app_ea1605b2._.js.map
.next/dev/static/chunks/src_pages_index_2da965e7._.js
.next/dev/static/chunks/src_styles_globals_5bb75e7e.css
.next/dev/static/chunks/src_styles_globals_5bb75e7e.css.map
.next/dev/static/chunks/turbopack-src_pages__app_ea1605b2._.js
.next/dev/static/chunks/pages/_app.js
.next/dev/static/chunks/pages/index.js
.next/dev/static/development/_buildManifest.js
.gitignore
.next/dev/static/development/_buildManifest.js
