node_modules/*
.gitignore
.next/dev/cache/
.next/dev/build/
.next/dev/logs/
.next/dev/server/
.next/dev/static/
.next/dev/types/
.next/types/
.next/dev/build-manifest.json
.next/dev/fallback-build-manifest.json
.next/dev/package.json
.next/dev/prerender-manifest.json
.next/dev/routes-manifest.json
.next/dev/trace