@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scrollbar-default-bar-bg: rgba(0, 0, 0, 0.225);
  --scrollbar-default-button-bg: rgba(255, 255, 255, 0.8);
  --scrollbar-default-button-hover-bg: rgba(255, 255, 255, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility scroll-default {

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-default-bar-bg);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-default-button-bg);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-default-button-hover-bg);
  }

}